.background {
    background: center no-repeat url(background.png);
  }
  
  .logo {
    background-image: url(logo.png);
  }
  
  .progressBar {
    background-color: rgb(65, 255, 106);
  }
  
  .splash {
    background-image: url(logo.png);
  }
